xsd/abstract models/prerelease/PlinianCore_AbstractModel_v3.2.2.8rc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- editado con XMLSpy v2013 sp1 (x64) (http://www.altova.com) por Santiago Martínez de la Riva/Francisco Pando (Real Jardín Botánico - CSIC) -->
<!-- edited with XMLSpy v2013 (http://www.altova.com) by Francisco Pando (Real Jardín Botánico - CSIC) -->
<!--  publisher: Plinian Core TDWG Task Group; modified to point to __GISIN___ XSDs  in GitHub/TDWG  29 jun 2018 -->
<!--description: The Plinian Core  is structured set of concepts  that can be used to describe different aspects of biological species information. Under "biological species Information" all kinds of properties or traits related to taxa—biological and non-biological—are included. Thus, for instance, terms pertaining descriptions, legal aspects, conservation, management, demographics, nomenclature, or related resources are incorporated. -->
<!--  publisher: Plinian Core TDWG Task Group; modified to point to __GISIN___ XSDs  in GitHub/TDWG  29 jun 2018 -->
<!-- v3.2.2 modified:2018-07-10: -->
<!-- v3.2.4 Term Strategy renamed to TrophicStrategy; term StrategyRemarks renamed to TrophicStrategyRemarks; v3.2.3 was an interin version never published. F. Pando   -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:plic="http://www.gbif.es/PliC/" xmlns:dc="http://purl.org/dc/terms/" xmlns:dcelem="http://purl.org/dc/elements/1.1/" xmlns:dwc="http://rs.tdwg.org/dwc/terms/" xmlns:abcd="http://www.tdwg.org/schemas/abcd/2.06" xmlns:tcs="http://www.tdwg.org/schemas/tcs/1.01" xmlns:simple="http://rs.tdwg.org/dwc/xsd/simpledarwincore/" xmlns:gisin="http://www.gisin.org/gisin/SpeciesStatus" xmlns:eol="http://www.eol.org/transfer/content/0.3" xmlns:eml="eml://ecoinformatics.org/eml-2.1.1" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" xmlns:ns1="https://github.com/tdwg/dwc/tree/master/xsd">
	<xs:import namespace="http://www.tdwg.org/schemas/abcd/2.06" schemaLocation="http://rs.tdwg.org/abcd/2.06/ABCD_2.06.xsd"/>
	<xs:import namespace="http://www.tdwg.org/schemas/tcs/1.01" schemaLocation="https://raw.githubusercontent.com/tdwg/tcs/master/TCS101/v101.xsd"/>
	<xs:import namespace="http://www.gisin.org/gisin/SpeciesStatus" schemaLocation="https://raw.githubusercontent.com/tdwg/gisin/master/xsd/SpeciesStatus.xsd"/>
	<xs:import namespace="http://rs.tdwg.org/dwc/terms/" schemaLocation="https://raw.githubusercontent.com/tdwg/PlinianCore/master/xsd/abstract%20models/stable%20version/tdwg_dwc_extensions.xsd"/>
	<xs:import namespace="eml://ecoinformatics.org/eml-2.1.1" schemaLocation="https://raw.githubusercontent.com/tdwg/PlinianCore/master/xsd/abstract%20models/stable%20version/eml.xsd"/>
	<xs:import namespace="http://www.eol.org/transfer/content/0.3" schemaLocation="https://raw.githubusercontent.com/tdwg/PlinianCore/master/xsd/abstract%20models/stable%20version/content_0_3.xsd"/>
	<xs:import namespace="http://purl.org/dc/terms/" schemaLocation="http://dublincore.org/schemas/xmls/qdc/dcterms.xsd"/>
	<xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="http://dublincore.org/schemas/xmls/qdc/dc.xsd"/>
	<xs:element name="Dataset">
		<xs:annotation>
			<xs:documentation>Root element from which all other elements will branch from</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Metadata">
					<xs:annotation>
						<xs:documentation>Information about the collections of records. This is an extension of the metadata of eml-gbif-profile.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="TaxonRecord" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--  =============================================   -->
	<!--Elements-->
	<!--  =============================================   -->
	<xs:element name="Abstract" type="xs:string"/>
	<xs:element name="AncillaryData" type="eol:dataObjectBaseType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AnnualCycleAtomized" type="AnnualCycleAtomizedType"/>
	<xs:element name="AnnualCycles" type="AnnualCyclesType"/>
	<xs:element name="annualCycleUnstructured" type="xs:string"/>
	<xs:element name="DistributionAtomized" type="DistributionAtomizedType"/>
	<xs:element name="Audience">
		<xs:annotation>
			<xs:documentation>Repetitive concept where the target audiences are written one by one. (Predetermined list: 01. Expert (High). 02. Knowledgeable (Medium). 03. General (Low). </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Expert">
					<xs:annotation>
						<xs:documentation>Professionals on Biodiversity (researchers, decision makers, students of higher levels, etc.). By training and experience they have a good knowledge of scientific terminology and taxonomic and nomenclatural issues.</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="Knowledgeable">
					<xs:annotation>
						<xs:documentation>Public interest in the knowledge of living organisms but whose training and experience is not directly linked to knowledge of biodiversity, or to be enjoined, their training has not been directly related to biodiversity (professionals from other areas of knowledge, students, amateurs, etc.). Your level of interest is high but not usually use and know the terminology, taxonomy and scientific nomenclature.</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="General">
					<xs:annotation>
						<xs:documentation>General Public (anyone interested in living organisms). Persons interested on biodiversity, frequently or timely, but lack the training, expertise or basic knowledge on terminology, taxonomy or scientific nomenclature.</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AudiencesUnstructured" type="xs:string">
		<xs:annotation>
			<xs:documentation>List audience codes separated by means of comma or /.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BaseElements" type="BaseElementsType"/>
	<xs:element name="Behavior" type="BehaviorType">
		<xs:annotation>
			<xs:documentation>Responses, reactions or movements made by an organism in a particular situation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BehaviorAtomized" type="DetailType"/>
	<xs:element name="BehaviorUnstructured" type="xs:string"/>
	<xs:element name="BriefDescription">
		<xs:annotation>
			<xs:documentation>Brief description which reflect only the diagnostic characters, i.e. those that distinguish a taxon from other related or close taxa.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CommonNamesAtomized" type="CommonNamesAtomizedType"/>
	<xs:element name="CommonNames" type="CommonNamesType"/>
	<xs:element name="DemographyAndThreat" type="DemographyAndThreatType"/>
	<xs:element name="DemographyAndThreatUnstructured" type="xs:string"/>
	<xs:element name="DetailAtomized" type="DetailType"/>
	<xs:element name="DetailUnstructured">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DirectThreats" type="DirectThreatsType">
		<xs:annotation>
			<xs:documentation>Direct threats are the proximate human activities or processes that have caused, are causing, or may cause the destruction, degradation, and/or impairment of biodiversity targets (e.g., unsustainable fishing or logging). Direct threats are synonymous with sources of stress and proximate pressures. Threats can be past (historical), ongoing, and/or likely to occur in the future.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DirectThreatAtomized" type="DetailType"/>
	<xs:element name="DirectThreatUnstructured" type="xs:string"/>
	<xs:element name="Dispersal" type="DispersalType"/>
	<xs:element name="DispersalAtomized" type="DispersalAtomizedType"/>
	<xs:element name="DispersalUnstructured" type="xs:string"/>
	<xs:element name="Distribution" type="DistributionType"/>
	<xs:element name="DistributionUnstructured" type="xs:string"/>
	<xs:element name="EcologicalSignificance" type="EcologicalSignificanceType">
		<xs:annotation>
			<xs:documentation>Ecological importance of the taxon. (Placeholder)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EcologicalSignificanceAtomized" type="DetailType"/>
	<xs:element name="EcologicalSignificanceUnstructured" type="xs:string"/>
	<xs:element name="Endemic" type="EndemicType"/>
	<xs:element name="EndemicAtomized" type="EndemicAtomizedType">
		<xs:annotation>
			<xs:documentation>List of areas structured and categorized the degree of safety.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EnvironmentalEnvelope" type="EnvironmentalEnvelopeType"/>
	<xs:element name="EnvironmentalEnvelopeAtomized" type="DetailType"/>
	<xs:element name="EnvironmentalEnvelopeUnstructured" type="xs:string"/>
	<xs:element name="EndemicUnstructured" type="xs:string">
		<xs:annotation>
			<xs:documentation>List of areas presented in an unstructured and categorized the degree of safety.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Feeding" type="FeedingType"/>
	<xs:element name="FeedingAtomized" type="FeedingAtomizedType"/>
	<xs:element name="FeedingUnstructured" type="xs:string"/>
	<xs:element name="FullDescription" type="FullDescriptionType">
		<xs:annotation>
			<xs:documentation>Complete and detailed account of the taxonomic and systematic characters, i.e. those that define and allow to recognize an organism.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FullDescriptionAtomized" type="DetailType"/>
	<xs:element name="FullDescriptionUnstructured" type="xs:string"/>
	<xs:element name="HabitatAtomized" type="DetailType"/>
	<xs:element name="HabitatAndDistribution" type="HabitatAndDistributionType"/>
	<xs:element name="HabitatAndDistributionUnstructured" type="xs:string"/>
	<xs:element name="Habitats" type="HabitatsType"/>
	<xs:element name="HabitatUnstructured" type="xs:string"/>
	<xs:element name="Hierarchy" type="HierarchyType"/>
	<xs:element name="InteractionAtomized" type="InteractionAtomizedType"/>
	<xs:element name="IdentificationKeys" type="IdentificationKeysType">
		<xs:annotation>
			<xs:documentation>Tool for the identification of organisms, comprising a series of steps, each of which represents a question about one or more characters of the organism. Each step offers multiple alternatives, choosing one of them will lead us to the next step until ending, finally, in the name of the organism. Most printed keys have only two alternatives, so called dichotomous keys. A taxon includes a key or an identification of key in the subordinate taxons. 
For example: 
If we are in a register of a genre, this register would include the keys of the species that this register includes, and if it´s one specie, then it would include the key of the infraspecific rank (For plants: subspecies, variety forms) 
</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Interactions" type="InteractionsType"/>
	<xs:element name="InteractionUnstructured" type="xs:string"/>
	<xs:element name="Invasiveness" type="InvasivenessType">
		<xs:annotation>
			<xs:documentation>Information about invasive exotic species that could threaten to ecosystem, habitats and species</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InvasivenessAtomized" type="InvasivenessAtomizedType"/>
	<xs:element name="InvasivenessUnstructured" type="xs:string"/>
	<xs:element name="Keys" type="xs:string">
		<xs:annotation>
			<xs:documentation>Dichotomic or multientrance keys.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LegislationAtomized" type="LegislationAtomizedType"/>
	<xs:element name="Language" type="xs:string">
		<xs:annotation>
			<xs:documentation>The language of the taxon record, according to ISO 639.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LifeCycle" type="LifeCycleType">
		<xs:annotation>
			<xs:documentation>Life history of a living organism: The course of developmental changes in an organism from fertilized zygote to maturity or stages through which an organism passes. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LifeForm" type="LifeFormType">
		<xs:annotation>
			<xs:documentation>General appearance. Characteristic mode of growth or occurrence associated to its environment, particularly for plants. Comprising its size, shape, texture and orientation. Example: tree, shrubs, herbs. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LifeCycleAtomized" type="DetailType"/>
	<xs:element name="LifeCycleUnstructured" type="xs:string"/>
	<xs:element name="LifeFormAtomized" type="DetailType"/>
	<xs:element name="LifeFormUnstructured" type="xs:string"/>
	<xs:element name="Legislation" type="LegislationType"/>
	<xs:element name="LegislationUnstructured" type="xs:string">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
	</xs:element>
	<xs:element name="ManagementAndConservation" type="ManagementAndConservationType">
		<xs:annotation>
			<xs:documentation>Management: actions directed at conserving or restoring species / Conservation: interventions undertaken designed to preserve  specie </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ManagementAndConservationAtomized" type="ManagementAndConservationAtomizedType"/>
	<xs:element name="ManagementAndConservationUnstructured" type="xs:string"/>
	<xs:element name="MeasurementOrFact" type="MeasurementOrFactType"/>
	<xs:element name="Metadata" type="MetadataType"/>
	<xs:element name="Migratory" type="MigratoryType"/>
	<xs:element name="MigratoryAtomized" type="MigratoryAtomizedType"/>
	<xs:element name="MigratoryUnstructured" type="xs:string"/>
	<xs:element name="MiscDetails" type="MiscDetailType"/>
	<xs:element name="MolecularData" type="MolecularDataType">
		<xs:annotation>
			<xs:documentation>Information on the chemical structures and biological processes at the molecular level: DNA and proteins sequences, protein structures, expression profiles of genes protein domains, families of genes, mutations, polymorphisms, involvement in disease, ... Undeveloped. Placeholder for connecting with standards developed by specialists. For example, Standards for Data Exchange and Management from Scalalife (http://www.scalalife.eu/content/data)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MolecularDataAtomized" type="MolecularDataAtomizedType"/>
	<xs:element name="MolecularDataUnstructured" type="xs:string"/>
	<xs:element name="NaturalHistory" type="NaturalHistoryType"/>
	<xs:element name="NaturalHistoryUnstructured" type="xs:string"/>
	<xs:element name="NomenclatureAndClassification" type="NomenclatureAndClassificationType"/>
	<xs:element name="CommonNamesUnstructured" type="xs:string"/>
	<xs:element name="PopulationBiology" type="PopulationBiologyType"/>
	<xs:element name="PopulationBiologyAtomized" type="PopulationBiologyAtomizedType"/>
	<xs:element name="PopulationBiologyUnstructured" type="xs:string"/>
	<xs:element name="RecordMetadata" type="RecordMetadataType">
		<xs:annotation>
			<xs:documentation>This element includes the information about the Version, Revision,the language and target audiences of the Taxon Record.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReproductionAtomized" type="DetailType"/>
	<xs:element name="Revision" type="RevisionType"/>
	<xs:element name="References" type="eol:referenceType"/>
	<xs:element name="Reproduction" type="ReproductionType">
		<xs:annotation>
			<xs:documentation>All data related to the production of offspring. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReproductionUnstructured" type="xs:string"/>
	<xs:element name="SynonymsAtomized" type="SynonymsAtomizedType"/>
	<xs:element name="Synonyms" type="SynonymsType"/>
	<xs:element name="SynonymsUnstructured" type="xs:string"/>
	<xs:element name="TargetAudiences" type="TargetAudiencesType"/>
	<xs:element name="TaxonomicDescription" type="TaxonomicDescriptionType"/>
	<xs:element name="TaxonomicDescriptionUnstructured" type="xs:string"/>
	<xs:element name="TaxonRecord">
		<xs:annotation>
			<xs:documentation>Information about the record.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BaseElements">
					<xs:annotation>
						<xs:documentation>Basic information to identify the record.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="RecordMetadata"/>
				<xs:element ref="NomenclatureAndClassification" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Standard information for every known taxon.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="TaxonomicDescription" minOccurs="0"/>
				<xs:element ref="NaturalHistory" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Most relevant description about the species.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Invasiveness" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Information about introduce exotic species that could threaten to ecosystem, habitats and species. Ref: www.cbd.int/doc/legal/cbd-es.pdf</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="HabitatAndDistribution" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Distribution of the species</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="DemographyAndThreat" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Information concerning the demographic aspects of the species, as well as the conservation status</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="UsesManagementAndConservation" minOccurs="0"/>
				<xs:element ref="associatedParty" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dwc:MeasurementOrFact" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="References" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TaxonRecordName" type="TaxonRecordNameType"/>
	<xs:element name="TerritoryUnstructured" type="xs:string"/>
	<xs:element name="Territory" type="TerritoryType"/>
	<xs:element name="TerritoryAtomized" type="TerritoryAtomizedType"/>
	<xs:element name="ThreatStatusUnstructured" type="xs:string"/>
	<xs:element name="ThreatStatus" type="ThreatStatusType"/>
	<xs:element name="ThreatStatusAtomized" type="ThreatStatusAtomizedType"/>
	<xs:element name="UsesAtomized" type="UsesAtomizedType"/>
	<xs:element name="Uses" type="UsesType">
		<xs:annotation>
			<xs:documentation>Ways in which species are utilized by people </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UsesManagementAndConservation" type="UsesManagementAndConservationType"/>
	<xs:element name="UsesManagementAndConservationUnstructured" type="xs:string"/>
	<xs:element name="UsesUnstructured" type="xs:string">
		<xs:annotation>
			<xs:documentation>Uses in a unstructured format.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Version" type="VersionType"/>
	<!--  =============================================   -->
	<!--Datatypes-->
	<!--  =============================================   -->
	<xs:complexType name="AnnualCycleAtomizedType">
		<xs:sequence>
			<xs:element name="event">
				<xs:annotation>
					<xs:documentation>VC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startTimeInterval" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endTimeInterval" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnnualCyclesType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="AnnualCycleAtomized" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="annualCycleUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseElementsType">
		<xs:sequence>
			<xs:element name="taxonRecordID" type="xs:string">
				<xs:annotation>
					<xs:documentation>Unique identifier of the record within the database.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dwc:nameAccordingTo" minOccurs="0"/>
			<xs:element ref="dwc:taxonConceptID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An identifier for the taxonomic concept to which the record refers - not for the nomenclatural details of a taxon.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="globalUniqueIdentifier" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An Uniform Resource Name (URN) used as an unique identifier of the taxon record.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="abstract" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A brief summary of the most relevant or attractive features of this taxón to the general public. Could point to any kind of information. Example: Blue whale is the largest mammal in the world.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BehaviorType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="BehaviorAtomized"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="BehaviorUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommonNamesAtomizedType">
		<xs:sequence>
			<xs:element name="commonName" type="xs:string"/>
			<xs:element name="language" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The language of the taxon record, according to ISO 639.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="usedIn" type="DistributionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Location where the common name is used</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="usedBy" type="xs:string" minOccurs="0"/>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommonNamesType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="CommonNamesAtomized" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="CommonNamesUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DemographyAndThreatType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="Territory" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Information associated mostly to vertebrates, referring to the territorial extension of the individual or group in terms of its activities (feeding, mating, etc.)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="PopulationBiology" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Study of the variations in time and space as well as size and density of populations, and the factors that cause such variations.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="ThreatStatus" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Information about the status of the taxon.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="DirectThreats" minOccurs="0">
					<xs:annotation>
						<xs:documentation>VCR. Direct threats are the proximate human activities or processes that have caused, are causing, or may cause the destruction, degradation, and/or impairment of biodiversity targets (e.g., unsustainable fishing or logging). Direct threats are synonymous with sources of stress and proximate pressures. Threats can be past (historical), ongoing, and/or likely to occur in the future.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Legislation" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A national proposed law or group of laws. A regional proposed law or group of laws.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="DemographyAndThreatUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DescriptionItemType">
		<xs:sequence>
			<xs:element name="ItemAttribute"/>
			<xs:element name="ItemValue"/>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DetailType">
		<xs:sequence>
			<xs:element ref="dwc:MeasurementOrFact" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DispersalType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="DispersalAtomized"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="DispersalUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DistributionAtomizedType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="geographicEntity">
					<xs:annotation>
						<xs:documentation>Name of the geographic entity.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="Catalogue" use="required">
									<xs:annotation>
										<xs:documentation>VC. The geographic entity according to ISO 3166.Catalogue where the GeographicEntity is documented.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:sequence>
					<xs:element ref="dwc:country"/>
					<xs:element ref="dwc:stateProvince" minOccurs="0"/>
					<xs:element ref="dwc:county" minOccurs="0"/>
					<xs:element ref="dwc:municipality" minOccurs="0"/>
					<xs:element ref="dwc:locality" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectThreatsType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="DirectThreatAtomized"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="DirectThreatUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DispersalAtomizedType">
		<xs:sequence>
			<xs:element name="purpose" type="MeasurementOrFactType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Makes reference to any data being measured </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dispersalMeans" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VCR. Zoochory, Anemochory, Hydrochory, Barochory, Autochory</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Zoochory"/>
						<xs:enumeration value="Anemochory"/>
						<xs:enumeration value="Hydrochory"/>
						<xs:enumeration value="Barochory"/>
						<xs:enumeration value="Autochory"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="structureDispersed" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VCR: Seed, Fruit, Vegetative structure, Spores, Gametes, Eggs, ffspring and Individuals</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Seed"/>
						<xs:enumeration value="Fruit"/>
						<xs:enumeration value="Vegetative structure"/>
						<xs:enumeration value="Spores"/>
						<xs:enumeration value="Gametes"/>
						<xs:enumeration value="Eggs"/>
						<xs:enumeration value="Offspring"/>
						<xs:enumeration value="Individuals"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="distance" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dwc:MeasurementOrFact"/>
						<xs:element name="relatedTo" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DistributionType">
		<xs:sequence>
			<xs:element name="distributionScope" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="AncillaryData">
							<xs:annotation>
								<xs:documentation> </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Type">
						<xs:annotation>
							<xs:documentation>VC</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element ref="temporalCoverage" minOccurs="0"/>
			<xs:sequence>
				<xs:sequence minOccurs="0">
					<xs:element ref="DistributionAtomized" maxOccurs="unbounded"/>
					<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation> </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:sequence minOccurs="0">
					<xs:element ref="DistributionUnstructured"/>
					<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation> </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EcologicalSignificanceType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="EcologicalSignificanceAtomized" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="EcologicalSignificanceUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EndemicAtomizedType">
		<xs:sequence>
			<xs:element name="endemicTo" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The concept is applied to one or several countries. Ex:- Giant panda (Ailuropoda melanoleuca (David, 1869) endemic to China. Quetzal Resplendent (Pharomachrus mocinno de la Llave, 1832) endemic to Mexico, Guatemala, Honduras, El Salvador, Nicaragua, Costa Rica and Panama
	</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endemicIn" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The concept is applied to an area either multinational or local. Ex: - Vicuña (Vicugna vicugna Molina, 1782) endemic in the Andean region. - Manzanilla Real (Artemisia granatensis Boiss.) endemic in the peaks of Sierra Nevada (Spain). </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EndemicType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="EndemicAtomized" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>List of areas structured and categorized the degree of safety.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="EndemicUnstructured">
					<xs:annotation>
						<xs:documentation>List of areas presented in an unstructured and categorized the degree of safety.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnvironmentalEnvelopeType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="EnvironmentalEnvelopeAtomized" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="EnvironmentalEnvelopeUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeedingType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="FeedingAtomized" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="FeedingUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeedingAtomizedType">
		<xs:sequence>
			<xs:element name="Thropic" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="trophicStrategy" minOccurs="0">
							<xs:annotation>
								<xs:documentation>VC. Tactic used to obtain energy or nutrients.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Chemosynthetic"/>
									<xs:enumeration value="Photosynthetic"/>
									<xs:enumeration value="Vermin"/>
									<xs:enumeration value="Decomposers"/>
									<xs:enumeration value="FilterFeeders"/>
									<xs:enumeration value="Sedimentívoros"/>
									<xs:enumeration value="Borers"/>
									<xs:enumeration value="Foragers"/>
									<xs:enumeration value="Fluidófagos"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="trophicStrategyRemarks" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Information notes about specific strategy of feeding.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="feedingType">
				<xs:annotation>
					<xs:documentation>VC. Primary diet source. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Autotrophs"/>
						<xs:enumeration value="Palynivore"/>
						<xs:enumeration value="Nectarivore"/>
						<xs:enumeration value="Granivore"/>
						<xs:enumeration value="Frugivore"/>
						<xs:enumeration value="Rhizophagus"/>
						<xs:enumeration value="Hematophagy"/>
						<xs:enumeration value="Insectivore"/>
						<xs:enumeration value="Piscivore"/>
						<xs:enumeration value="Oophagy"/>
						<xs:enumeration value="Omnivore"/>
						<xs:enumeration value="Scavenger"/>
						<xs:enumeration value="Saprophagous"/>
						<xs:enumeration value="Detritivore"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FullDescriptionType">
		<xs:sequence>
			<xs:sequence>
				<xs:element ref="FullDescriptionAtomized" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element ref="FullDescriptionUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HabitatAndDistributionType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="Habitats" minOccurs="0">
					<xs:annotation>
						<xs:documentation>General description of the sites where the species are found (ecosystem, forest, environment or microhabitat). (Placeholder).</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Distribution" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Species geographical distribution.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Endemic" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Organism that lives exclusively in a particular territory and not found anywhere else.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="HabitatAndDistributionUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HabitatsType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="HabitatAtomized" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>VCR.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="HabitatUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HierarchyType">
		<xs:sequence>
			<xs:element ref="dwc:kingdom" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The full scientific name of the kingdom in which the taxon is classified. Example: "Animalia", "Plantae".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dwc:phylum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The full scientific name of the phylum or division in which the taxon is classified. Example: "Chordata" (phylum), "Bryophyta" (division).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dwc:class" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The full scientific name of the class in which the taxon is classified. Example: "Mammalia", "Hepaticopsida".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dwc:order" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The full scientific name of the order in which the taxon is classified. Example: "Carnivora", "Monocleales".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dwc:family" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The full scientific name of the family in which the taxon is classified. Example: "Felidae", "Monocleaceae".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dwc:genus" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The full scientific name of the genus in which the taxon is classified. Example: "Puma", "Monoclea".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dwc:subgenus" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The full scientific name of the subgenus in which the taxon is classified. Values should include the genus to avoid homonym confusion. Example: "Strobus (Pinus)", "Puma (Puma)" "Loligo (Amerigo)", "Hieracium subgen. Pilosella".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dwc:taxonRank" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The taxonomic rank of the most specific name in the scientificName. Recommended best practice is to use a controlled vocabulary. Examples: "subspecies", "varietas", "forma", "species", "genus".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dwc:specificEpithet" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of the first or species epithet of the scientificName. Example: "concolor", "gottschei".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dwc:infraspecificEpithet" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of the lowest or terminal infraspecific epithet of the scientificName, excluding any rank designation. Example: "concolor", "oxyadenia", "sayi".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dwc:higherClassification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A list (concatenated and separated) of taxa names terminating at the rank immediately superior to the taxon referenced in the taxon record. Recommended best practice is to order the list starting with the highest rank and separating the names for each rank with a semi-colon (";"). Example: "Animalia;Chordata;Vertebrata;Mammalia;Theria;Eutheria;Rodentia;Hystricognatha;Hystricognathi;Ctenomyidae;Ctenomyini;Ctenomys".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParentTaxon" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="taxonRecordID" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Unique identifier of the record within the database.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="dwc:taxonRank">
							<xs:annotation>
								<xs:documentation>The taxonomic rank of the most specific name in the scientificName. Recommended best practice is to use a controlled vocabulary. Examples: "subspecies", "varietas", "forma", "species", "genus".</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="taxonValue" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="classification"/>
		<xs:attribute name="recommended"/>
	</xs:complexType>
	<xs:complexType name="IdentificationKeysType">
		<xs:sequence>
			<xs:element ref="Keys" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Dichotomic or multientrance keys.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InteractionAtomizedType">
		<xs:sequence>
			<xs:element name="speciesInteraction" type="ResourceRelationshipType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The category of information pertaining to relationships between resources (instances of data records, such as Occurrences, Taxa, Locations, Events.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="speciesInteractionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>VC. String with the type of interaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InteractionsType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="InteractionAtomized" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="InteractionUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvasivenessType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="InvasivenessAtomized" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="InvasivenessUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvasivenessAtomizedType">
		<xs:sequence>
			<xs:element ref="gisin:origin" minOccurs="0"/>
			<xs:element ref="gisin:presence" minOccurs="0"/>
			<xs:element ref="gisin:persistence" minOccurs="0"/>
			<xs:element ref="gisin:distribution" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="gisin:harmful" minOccurs="0"/>
			<xs:element ref="gisin:modified" minOccurs="0"/>
			<xs:element ref="gisin:startValidDate" minOccurs="0"/>
			<xs:element ref="gisin:endValidDate" minOccurs="0"/>
			<xs:element ref="gisin:countryCode" minOccurs="0"/>
			<xs:element ref="gisin:stateProvince" minOccurs="0"/>
			<xs:element ref="gisin:county" minOccurs="0"/>
			<xs:element ref="gisin:localityName" minOccurs="0"/>
			<xs:element ref="gisin:language" minOccurs="0"/>
			<xs:element ref="gisin:citation" minOccurs="0"/>
			<xs:element ref="gisin:abundance" minOccurs="0"/>
			<xs:element ref="gisin:trend" minOccurs="0"/>
			<xs:element ref="gisin:rateOfSpread" minOccurs="0"/>
			<xs:element ref="gisin:regulatoryListing" minOccurs="0"/>
			<xs:element ref="gisin:memo" minOccurs="0"/>
			<xs:element ref="gisin:publicationDate" minOccurs="0"/>
			<xs:element ref="gisin:localityType" minOccurs="0"/>
			<xs:element ref="gisin:locationValue" minOccurs="0"/>
			<xs:element ref="gisin:publicationDatePrecision" minOccurs="0"/>
			<xs:element name="whatImpact">
				<xs:annotation>
					<xs:documentation>What the actual impact is, for instance: Is it eating all the riparian vegetation? Are their burrows destroying irrigation systems? Is it displacing Arvicola sapidus?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vector" minOccurs="0"/>
			<xs:element name="route" minOccurs="0"/>
			<xs:element name="impactTarget" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Who/what is impacting.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Economy"/>
						<xs:enumeration value="Environment"/>
						<xs:enumeration value="HumanHealth"/>
						<xs:enumeration value="Unknown"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="impactMechanism" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Mechanism of introduction or impact to a new location.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Allergeny"/>
						<xs:enumeration value="Competition"/>
						<xs:enumeration value="DiseaseTransmission"/>
						<xs:enumeration value="Fouling"/>
						<xs:enumeration value="Herbivory"/>
						<xs:enumeration value="Hybridization"/>
						<xs:enumeration value="InhibitsGrowthOfOtherSpecies"/>
						<xs:enumeration value="InteractionWithOtherInvasiveSpecies"/>
						<xs:enumeration value="ModifiesFireRegime"/>
						<xs:enumeration value="ModifiesHydrology"/>
						<xs:enumeration value="ModifiesNaturalBenthicCommunities"/>
						<xs:enumeration value="ModifiesNutrientRegime"/>
						<xs:enumeration value="ModifiesSuccessionalPatterns"/>
						<xs:enumeration value="OtherSeeMemoForDescription"/>
						<xs:enumeration value="Parasitism"/>
						<xs:enumeration value="Pathogenic"/>
						<xs:enumeration value="PhysicalDisturbance"/>
						<xs:enumeration value="PollenSwamping"/>
						<xs:enumeration value="Predation"/>
						<xs:enumeration value="Transpiration "/>
						<xs:enumeration value="Unknown"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LegislationAtomizedType">
		<xs:sequence>
			<xs:element name="legislationName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Word or phrase to designate the law or group of laws</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="protectionLegalStatus" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VC. Description of the status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="legislationRead" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The oficial document in which the user can read the legislation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="legislationStatus" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VCR: Consolidated, Repealed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="legislationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VCR: included, not included</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="legalNorm" minOccurs="0"/>
			<xs:element name="appliesTo" type="DistributionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Location where the legislation is used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LegislationType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="LegislationAtomized" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="LegislationUnstructured">
					<xs:annotation>
						<xs:documentation>Enumeration of the law or group of laws in an unstructured format.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LifeCycleType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="LifeCycleAtomized" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="LifeCycleUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LifeFormType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="LifeFormAtomized" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="LifeFormUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ManagementAndConservationType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="ManagementAndConservationAtomized" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="ManagementAndConservationUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ManagementAndConservationAtomizedType">
		<xs:sequence>
			<xs:element name="objectives" minOccurs="0"/>
			<xs:sequence>
				<xs:element name="managementPlan" type="xs:string" minOccurs="0">
					<!--<xs:complexType>
						<xs:sequence>
							<xs:element name="AdministrativeManagement" type="xs:string"/>
							<xs:element name="TechnicalManagement" type="xs:string"/>
							<xs:element name="PopulationPerformance" type="xs:string"/>
							<xs:element name="ControlInformation">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MonitoringProcedure" type="xs:string"/>
										<xs:element name="UsedTools" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>-->
				</xs:element>
				<xs:element name="actions" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="type">
							<xs:annotation>
								<xs:documentation>VCR</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:element name="humanAndEnvironmentalRelevance" type="xs:string" minOccurs="0"/>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string">
			<xs:annotation>
				<xs:documentation>VCR</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MeasurementOrFactType">
		<xs:annotation>
			<xs:documentation> From dwc</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="dwc:MeasurementOrFact"/>
			<xs:element name="relatedTo" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MetadataType">
		<xs:sequence>
			<xs:element name="dataset_ID" type="xs:string"/>
			<xs:element name="dateStamp" type="xs:date">
				<xs:annotation>
					<xs:documentation>The date the metadata document was created or modified.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="citation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A single citation for use when citing the dataset.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="identifier">
						<xs:annotation>
							<xs:documentation>A URI, DOI or other persistent identifier for the citation.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element ref="dataset"/>
			<xs:element name="resourceLogoUrl" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>URL of the logo associated with this dataset.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="References" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MigratoryAtomizedType">
		<xs:sequence>
			<xs:element name="causes" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>VCR: Seasonal climatic variation, Resource availability and Reproduction </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Seasonal climatic variation"/>
						<xs:enumeration value="Resource availability"/>
						<xs:enumeration value="Reproduction "/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="patterns" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>VCR. Latitudinal, Longitudinal , Altitudinal , Vertical in water columns and Local migrant</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Latitudinal"/>
						<xs:enumeration value="Longitudinal"/>
						<xs:enumeration value="Altitudinal"/>
						<xs:enumeration value="Vertical in water columns"/>
						<xs:enumeration value="Local migrant"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="routes" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Trajectory followed by the species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="season" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Time of year in which a species migrates. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MigratoryType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="MigratoryAtomized" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="MigratoryUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MiscDetailType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="DetailAtomized" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="DetailUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MolecularDataType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="MolecularDataAtomized" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="MolecularDataUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MolecularDataAtomizedType">
		<xs:sequence>
			<xs:element ref="dwc:MeasurementOrFact" minOccurs="0"/>
			<xs:element name="relatedTo" type="xs:string" minOccurs="0"/>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NaturalHistoryType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="LifeForm" minOccurs="0">
					<xs:annotation>
						<xs:documentation>VC. General appearance. Characteristic mode of growth or occurrence associated to its environment, particularly for plants. Comprising its size, shape, texture and orientation. Example: tree, shrubs, herbs. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="LifeCycle" minOccurs="0">
					<xs:annotation>
						<xs:documentation>VC. Life history of a living organism: The course of developmental changes in an organism from fertilized zygote to maturity or stages through which an organism passes. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Reproduction" minOccurs="0">
					<xs:annotation>
						<xs:documentation>All data related to the production of offspring. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AnnualCycles" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Set of changes or events that recurrently take place at the same time of year and are influenced by seasonal and interannual climate variations. For example: reproduction, flowering, fruiting, emergence of insects, etc. Also called phenology, mainly in plants. In the case of migration, refers only to the timing of it; other data about this are gathered in MigratoryData.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Feeding" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Information related to supply food for the development and sustenance of the individual and/or its offspring.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Dispersal" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The permanent spreading of individuals away from each other not including return. Dispersal determines the range over which genetic mixing occurs, and thus, the degree of homogeneity and inbreeding in a population</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Behavior" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Responses, reactions or movements made by an organism in a particular situation.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Interactions" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Mutual or reciprocal actions or influences. For example, predation, parasitism, mutualism, etc. Relations with products grown and stored by man (plagues) are also included.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="MolecularData" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Information on the chemical structures and biological processes at the molecular level: DNA and proteins sequences, protein structures, expression profiles of genes protein domains, families of genes, mutations, polymorphisms, involvement in disease, ... Undeveloped. Placeholder for connecting with standards developed by specialists. For example, Standards for Data Exchange and Management from Scalalife (http://www.scalalife.eu/content/data)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Migratory" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The regular, usually seasonal, movement of all or part of an animal population to and from a given area, which can occur in variable periods of time and even involve more than one generation. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="EcologicalSignificance" minOccurs="0">
					<xs:annotation>
						<xs:documentation>VCR. Ecological importance of the taxon. (Placeholder)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="MiscDetails" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Miscellaneus: notes attached to the taxon natural history information</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="EnvironmentalEnvelope" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Environmental ranges in which species live, e.g. annual rainfall, average, 450 mm</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="NaturalHistoryUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NomenclatureAndClassificationType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="TaxonRecordName">
					<xs:annotation>
						<xs:documentation>Complete information about the name of the taxon</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Synonyms" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Different names for this taxon. This concept is a placeholder field. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="CommonNames" minOccurs="0">
					<xs:annotation>
						<xs:documentation>List of vernacular names.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Hierarchy" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Hierarchical categories. Modified from Linnean Core. Option: fill all or principal ranks and optionally provide keys. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="MiscDetails" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Miscellaneus: notes attached to the taxon information. E.g. Pronunciation, etymology, ...</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element name="nomenclatureAndClassificationUnstructured" type="xs:string"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PopulationBiologyType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="PopulationBiologyAtomized" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="PopulationBiologyUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PopulationBiologyAtomizedType">
		<xs:sequence>
			<xs:element name="abundanceData" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total number of individuals of a population</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="densityData" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Size of a population in relation to a definite unit of space </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="patternDistribution" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VCR Clumped, Uniform and Random</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="size" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Estimation of the size, usually expressed as a range, of the populations of a species. (E.g. “total population size is estimated between 200,000 to 400,000 ducks in its distribution area”).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sexRatio" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The relative number of males to females in a population </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fecundity" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Potential ability of an organism to produce eggs or young;
						rate of production of young by a female </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mortalityRate" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The probability of dying; the ratio of number dying in a given time interval to the number alive at the beginning of the time interval </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="birthRate" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Production of new individuals in a population </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numberIndividualsPerObservation" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>In case of having census data </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="averageDensity" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Average of the densities obtained for a population</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="populationTrend" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VCR Stable, Increasing and Dreasing</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recruitment" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Proportion of plants or animals that reach a size or age when  become less vulnerable to a change in their environment. Stage in which plants or animals can be consumed and can survive, as well as reproduce </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="populationGrowthRate" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Rate that estimates the annual growth rate of a population based on the births, rates, emigration and immigration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="emigration" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movement of individuals outside a population, or from one area to another </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="immigration" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Individuals entering a population </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="descriptionLifeStages" type="DetailType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Sex/age categories or life stages of a species; can be size in the case of plants.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="proportionIndividualsPerStageLife" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Percentage of individuals that belong to each life stage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="carryingCapacity" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximum population density defined by resources in the absence of predator and parasites.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Region"/>
	</xs:complexType>
	<xs:complexType name="RecordMetadataType">
		<xs:sequence>
			<xs:element ref="language" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The language of the taxon record, according to ISO 639.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="TargetAudiences" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Users to which the information is addressed. The defined audiences are: Biodiversity researchers, teachers and students, decision makers, professionals from another areas and general public.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Version">
				<xs:annotation>
					<xs:documentation>Number and date of the current version.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Revision" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> Creators, revision status and dates of the entire data collection.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReproductionType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="ReproductionAtomized" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>VC</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="ReproductionUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResourceRelationshipType">
		<xs:annotation>
			<xs:documentation> From dwc</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="dwc:ResourceRelationship"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RevisionType">
		<xs:sequence>
			<xs:element ref="associatedParty" minOccurs="0"/>
			<xs:element ref="pubDate"/>
			<xs:element ref="dc:created"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SynonymsAtomizedType">
		<xs:sequence>
			<xs:element name="synonymName" type="tcs:ScientificName"/>
			<xs:element name="synonymStatus" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SynonymsType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="SynonymsAtomized" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="SynonymsUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TargetAudiencesType">
		<xs:choice>
			<xs:element ref="Audience" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>VC. Repetitive concept where the target audiences are written one by one. (Predetermined list: 01. Expert (High). 02. Knowledgeable (Medium). 03. General (Low). </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AudiencesUnstructured">
				<xs:annotation>
					<xs:documentation>List audience codes separated by means of comma or /.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TaxonomicDescriptionType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="BriefDescription" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Brief description which reflect only the diagnostic characters, i.e. those that distinguish a taxon from other related or close taxa.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="FullDescription" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Complete and detailed account of the taxonomic and systematic characters, i.e. those that define and allow to recognize an organism.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="IdentificationKeys" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tool for the identification of organisms, comprising a series of steps, each of which represents a question about one or more characters of the organism. Each step offers multiple alternatives, choosing one of them will lead us to the next step until ending, finally, in the name of the organism. Most printed keys have only two alternatives, so called dichotomous keys. A taxon includes a key or an identification of key in the subordinate taxons. For example: If we are in a register of a genre, this register would include the keys of the species that this register includes, and if it´s one specie, then it would include the key of the infraspecific rank (For plants: subspecies, variety forms) </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="TaxonomicDescriptionUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxonRecordNameType">
		<xs:sequence>
			<xs:element name="ScientificName" type="tcs:ScientificName">
				<xs:annotation>
					<xs:documentation>Complete name of the taxon.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TerritoryType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="TerritoryAtomized"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="TerritoryUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TerritoryAtomizedType">
		<xs:sequence>
			<xs:element name="extentOfOccurrence" type="DetailType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Area contained within the shortest continuous imaginary boundary which can be drawn to encompass all the known, inferred or projected sites of present occurrence of a taxon, excluding cases of vagrancy.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="areaOfOccupancy" type="DetailType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Area within its 'extent of occurrence' (see EOO) which is occupied by a taxon, excluding cases of vagrancy. The measure reflects the fact that a taxon will not usually occur throughout the area of its extent of occurrence, which may contain unsuitable or unoccupied habitats. Reference: http://www.iucnredlist.org/technical-documents/categories-and-criteria/2001-categories-criteria#definitions
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TextDescriptionType">
		<xs:sequence>
			<xs:element ref="description"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ThreatStatusType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="ThreatStatusAtomized" maxOccurs="unbounded"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="ThreatStatusUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ThreatStatusAtomizedType">
		<xs:sequence>
			<xs:element name="threatCategory" type="xs:string">
				<xs:annotation>
					<xs:documentation>VCR. Description of the threat status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="authority" type="xs:string" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Organism or institution that assess the status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="appliesTo" type="DistributionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Location where the status is used.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UsesManagementAndConservationType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="Uses" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ways in which species are utilized by people. Including Folklore</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="ManagementAndConservation" minOccurs="0"/>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="UsesManagementAndConservationUnstructured"/>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UsesType">
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="UsesAtomized" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Are also applied to Animals and Fungis</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="UsesUnstructured">
					<xs:annotation>
						<xs:documentation> </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UsesAtomizedType">
		<xs:sequence>
			<xs:element name="sourceOfInformation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Acc. TDWG Economic Botany. Is the source personal observation, or from else where? If the latter, reference citations should be given. Where appropriate, voucher specimen details should be provided (collector, number, date, herbari um) and detai ls of the informant recorded (name, gender, approximate age, occupation, ethnic identity, locality and language spoken).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="references" type="eol:referenceType" maxOccurs="unbounded"/>
						<xs:element name="sourceOfInformationText"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="useValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Acc. TDWG Economic Botany. What is t he plant used for, or what negative values does it have (e.g . as a weed affecting food production, or as an accident al poison)?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partUsed" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Acc. TDWG Economic Botany. Which plant parts are used, or have any negative values ?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="users" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Acc. TDWG Economic Botany. Who recognises the value of the plant? State ethnic group (tribe/caste /sect etc. with language/dialect, locality/area ).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="organisms" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Acc. TDWG Economic Botany. Which organisms use the plant/plant parts (e.g . for forage , medicines) or are affected by the plant (e.g. by poisons)?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vernacularNameUseAnnotations" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Acc. TDWG Economic Botany. The name of the taxon must be distinguished from the name of plant parts, the names of any processing stages, and the final product. Names used in trade should be identified. It should also be mentioned if any vernacular name refers to more than one taxon. The use of some names may be restricted to a time of year or occasion, or have sacred connotations. The language and dialect to which the names belong should be stated along with details of ethnic group . Care should be taken with transliteration into the Roman alphabet; if a standard system exists, use it and note which one it is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productionDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Acc. TDWG Economic Botany. (where relevant). Are wild /protected /cultivated plants used? Give details of cultivation, harvesting , yields, processing and storage methods and take note of special tools, timing etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="meansOfApplication-Administration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Acc. TDWG Economic Botany. This is of particular relevance to medicines, poisons (e.g. insecticides), social products and some environmental purposes (e.g. fert ilisers).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="seasonOfAvailabilityUse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Acc. TDWG Economic Botany. Note these and , if relevant, time of day.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="conservationExplotationData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Acc. TDWG Economic Botany. Record frequency of plants, details of regeneration, sustainability or over-exploitation and note any locally imposed bans on felling or harvesting.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="useTypeAtomized" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Acc. TDWG Economic Is it a traditional, modern industrial or just a possible use?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="economics" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Acc. TDWG Economic Botany. Is t here trade in the live plants, plant parts, or derived products , and , if so , on what scale?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ratingPopularity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Acc. TDWG Economic Botany. Is the plant highly valued for its use or are other species preferred and , if so, which? Try to record factors influencing any preference, e.g. rarity, inaccessibility, depleted source, or low quality, ineffectiveness, difficult harvesting or processing requirements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="properties" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Acc. TDWG Economic Botany. Provide details of properties which influence its value for a specified purpose, e.g . nutritional value for foods; occurrence of bioactive compounds for medicines/poisons; mechanical and physical properties of woods; nectar flow periods and flowering dates for bee plants; calorific values and burning qualities of fuels; sizes of plants used environmentally etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="potential" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Acc. TDWG Economic Botany. Could the use , cultivation, manufacture of products etc. be increased and /or introduced to other areas or social groups?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="useNotes" minOccurs="0"/>
			<xs:element ref="AncillaryData" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VersionType">
		<xs:sequence>
			<xs:element name="major" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The major version number ('1' in 1.2) as defined by the
						content creators.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="minor" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An optional minor version number ('2' in 1.2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="modifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unconstrained text specifying status + optional number, e. g., 'beta', 'alpha', 'rc/release candidate', 'internal'. If missing, release status is assumed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateIssued" type="xs:date">
				<xs:annotation>
					<xs:documentation>Source for Dublin-Core standard element Date.Issued: Citable 'publication date' of the current version (comp. RevisionData/DateCreated and DateModified for version- independent dates). This date should be missing if the current version is not yet published!</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="preferredFlag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TRUE to indicate currente version when providers serve more than one record per taxon.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--  =============================================   -->
	<!--Basic datatypes-->
	<!--  =============================================   -->
	<xs:complexType name="NormalDate">
		<xs:annotation>
			<xs:documentation>String (i. e. xs:string with minimum length=1) extended with language attribute</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:date">
				<xs:attribute name="language" type="xs:language" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
